body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-bottom: 40px;
}

nav {
  background-color: #efefef;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

nav li {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  color: #444;
  margin: 0 20px;
}

a {
  color: #444;
  text-decoration: none;
}

.wrapper {
  width: 760px;
  margin: 0 auto;
}


/* Header */

.header {
  background-image: url("./img/banner-izberg.png");
  height: 60px;
  padding: 30px;
}

.header img {
  display: block;
  width: 180px;
  margin: 0 auto;
}


/* Script items */

.script-item {
  display: inline-block;
  vertical-align: top;
  width: 298px;
  border: 1px solid #efefef;
  margin: 40px 20px 0px;
  padding: 0 20px 20px;
}

.script-item h2 {
  margin-bottom: 30px;
}

.script-item p {
  color: #444;
  font-size: 14px;
  line-height: 21px;
}

.field-line {
  margin: 20px 0;
}

.field-line input {
  height: 30px;
  width: calc(100% - 24px);
  padding: 5px 10px;
}

.btn {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #fff;
  display: inline-block;
  font-size: 12px;
  color: #0080ff;
  border: 1px solid #0080ff;
  border-radius: 0;
  padding: 10px 20px;
  transition: 0.25s;
}

.btn.main {
    width: calc(100% - 52px);
}

.btn.download {
    font-size: 20px;
    padding: 6px 10px;
    vertical-align: top;
    margin-left: 10px;
    background-color: #0080ff;
    color: #fff;
    opacity: 0.4;
}

.btn.download.active {
    opacity: 1;
}

.btn.main:hover, .btn.main:focus {
  box-shadow: inset 300px 0 0 0 #0080ff;
  color: #fff;
}

.btn:active, .btn:focus {
  background-color: #0080ff;
  color: #fff;
}

.btn .loader {
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
}

.btn span {
  display: inline-block;
  vertical-align: top;
  line-height: 15px;
  margin-left: 10px;
}

/* Compare page */

.script-params {
  display: flex;
  justify-content: center;
}

.script-params .field-line {
  width: 265px;
}

.script-params .field-line input {
  height: 30px;
  width: calc(100% - 52px);
  margin: 10px 30px 10px 0px;
  padding: 5px 10px;
}

.script-params .btn {
  display: flex;
  justify-content: center;
  line-height: 2px;
  width: 200px;
  height: 30px;
  margin-top: 30px;
  padding: 20px;
}

.script-params .loader {
  margin-top: -5px;
}

.script-params .btn span {
  line-height: 2px;
}

.script-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: Opx 40px;
}

.pre-launched {
  text-align: center;
  color: #444;
  padding: 80px;
  background-color: #efefef;
}

.script-results .launch-script .btn {
  vertical-align: top;
  height: 44px;
  margin-top: -13px;
  width: 100%;
}

.comparison-item {
  border: 1px solid #efefef;
  margin: 20px;
  padding: 40px;
}

.comparison-item h2 {
  display: inline-block;
  text-transform: capitalize;
  color: #FF3719;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0px;
}

.comparison-item .identical {
    display: inline-block;
    float: right;
    color: #afafaf;
    text-decoration: line-through;
    font-style: italic;
}

.comparison-item .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.comparison-item.equal h2 {
    color: #B9F314;
}

.comparison-item.equal .identical {
    text-decoration: none;
}
